@import 'vars.less';

body{
	background:url('../_imgs/layout/bg_topo-bege.jpg') #DFCCA2 center top no-repeat;
	&.body-home{
		background:url('../_imgs/layout/bg_topo-azul.jpg') #00AAB2 center top no-repeat;
		.main{
			aside{
				ul#lista-categorias{li{a{&:hover, &.subativo{ color:@bege !important; }}}}
				ul#lista-anos{li{a{&:hover, &.subativo{ color:@bege !important;}}}}
			}
		}
	}
	.polka{ background:url('../_imgs/layout/bg_padrao.png'); }
	header{
		width:980px;
		height:240px;
		position:relative;
		#logo{
			width:445px;
			height:492px;
			position:absolute;
			left:2px;
			top:18px;
			z-index:1;
		}
		#fb-link{
			position:absolute;
			right:0;
			top:5px;
			width:30px;
			height:30px;
			display:block;
		}
		nav{
			width:375px;
			height:240px;
			position:absolute;
			top:0;
			left:290px;
			z-index:6;
			ul{
				height:240px;
				li{
					width:90px;
					position:relative;
					background:url('../_imgs/layout/corda_bege.png') center top repeat-y;
					&.parent-ativo{ background:url('../_imgs/layout/corda_azul.png') center top repeat-y; }
					&#mn-home{ height:128px; }
					&#mn-perfil{ height:188px; margin-left:-17px; margin-right:5px; }
					&#mn-servicos{ height:148px; margin-right:8px; }
					&#mn-contato{ height:118px; }
					.inline;
					.transition;
					a{
						display:block;
						width:90px;
						height:109px;
						line-height:127px;
						position:absolute;
						bottom:0;
						left:0;
						text-align: center;
						.lobster(22px);
						color:@bege_escuro;
						background:url('../_imgs/layout/menu_bege.png') center center no-repeat;
						z-index:8;
						.transition;
						&:active, &:visited{color:@bege_escuro;}
						&:hover, &.ativo{ 
							color:@azul;
							background:url('../_imgs/layout/menu_azul.png') center center no-repeat;
							z-index:10;
						}
					}
				}
			}
		}
		#frase-topo{
			width:294px;
			height:110px;
			position:absolute;
			right:0;
			top:42px;
			line-height:140%;
			.trebuchet(14px, bold);
			font-style: italic;
			color:#fff;
			.sombra(@azul_ativo);
		}
	}
	.main{
		font-size:0;
		aside{
			.inline;
			width:290px;
			padding-top:295px;
			padding-bottom:65px;
			ul#lista-categorias{
				padding:0 20px 55px 20px;
				background:url('../_imgs/layout/detalhe-categorias.png') left bottom no-repeat;
				list-style:none;
				li{
					a{
						.lobster(24px);
						color:#FFF;
						.sombra(@bege_mais_escuro);
						.transition;
						&:active, &:visited{color:#FFF;}
						&:hover{ color:@azul; }
					}
				}
			}
			ul#lista-anos{
				list-style:none;
				padding:20px 0 0 20px;
				li{
					margin:2px 0;
					&.titulo{
						.trebuchet(14px);
						font-style: italic;
						color:@bege_mais_escuro;
					}
					a{
						color:@bege_mais_escuro;
						.trebuchet(14px);
						font-style: italic;
						.transition;
						&:active, &:visited{color:@bege_mais_escuro;}
						&:hover{ color:@azul; }
					}
				}
			}
		}
		section{
			.inline;
			width:690px;
			padding-bottom:65px;
			h2.sem-resultados{
				text-align:center;
				.lobster(30px);
				color:#fff;
				.sombra(@bege);
			}
		}
	}
	footer{
		background-color:@bege;
		padding-top:15px;
		height:88px;
		border-top:1px @bege_mais_escuro solid;
		ul{
			float:left;
			font-size:0;
			height:13px;
			li{
				height:13px;
				.inline;
				a{
					.trebuchet(11px);
					color:@bege_mais_escuro;
					.transition;
					border-right:1px @bege_mais_escuro solid;
					padding-right:15px;
					&:active, &:visited{color:@bege_mais_escuro;}
					&:hover{color:@azul;}
				}
				&.link-home a{ width:60px; margin-right:15px; }
				&.link-perfil a{ width:70px; margin-right:15px; }
				&.link-servicos a{ width:90px; margin-right:15px; }
				&.link-contato a{ width:90px; border-right:0; }
			}
		}
		.fright{
			float:right;
			width:500px;
			text-align:right;
			#telefones{
				width:125px;
				line-height: 125%;
				.trebuchet(14px, bold);
				color:@bege_mais_escuro;
				margin-right:30px;
				.inline;
			}
			#assinatura{
				width:195px;
				.trebuchet(9px);
				color:@bege_mais_escuro;
				.inline;
				a{
					display:block;
					color:@bege_mais_escuro;
					.transition;
					span{
						border-bottom:1px @bege dotted;
					}
					&:active, &:visited{color:@bege_mais_escuro;}
					&:hover{
						color:@azul;
						span{
							border-bottom:1px @azul dotted;
						}
					}
				}
			}
		}
	}
}