.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  background: url('../_imgs/layout/bg_topo-bege.jpg') #dfcca2 center top no-repeat;
}
body.body-home {
  background: url('../_imgs/layout/bg_topo-azul.jpg') #00aab2 center top no-repeat;
}
body.body-home .main aside ul#lista-categorias li a:hover,
body.body-home .main aside ul#lista-categorias li a.subativo {
  color: #d9c08d !important;
}
body.body-home .main aside ul#lista-anos li a:hover,
body.body-home .main aside ul#lista-anos li a.subativo {
  color: #d9c08d !important;
}
body .polka {
  background: url('../_imgs/layout/bg_padrao.png');
}
body header {
  width: 980px;
  height: 240px;
  position: relative;
}
body header #logo {
  width: 445px;
  height: 492px;
  position: absolute;
  left: 2px;
  top: 18px;
  z-index: 1;
}
body header #fb-link {
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  display: block;
}
body header nav {
  width: 375px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 290px;
  z-index: 6;
}
body header nav ul {
  height: 240px;
}
body header nav ul li {
  width: 90px;
  position: relative;
  background: url('../_imgs/layout/corda_bege.png') center top repeat-y;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul li.parent-ativo {
  background: url('../_imgs/layout/corda_azul.png') center top repeat-y;
}
body header nav ul li#mn-home {
  height: 128px;
}
body header nav ul li#mn-perfil {
  height: 188px;
  margin-left: -17px;
  margin-right: 5px;
}
body header nav ul li#mn-servicos {
  height: 148px;
  margin-right: 8px;
}
body header nav ul li#mn-contato {
  height: 118px;
}
body header nav ul li a {
  display: block;
  width: 90px;
  height: 109px;
  line-height: 127px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 22px;
  font-weight: normal;
  color: #a37547;
  background: url('../_imgs/layout/menu_bege.png') center center no-repeat;
  z-index: 8;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul li a:active,
body header nav ul li a:visited {
  color: #a37547;
}
body header nav ul li a:hover,
body header nav ul li a.ativo {
  color: #009fa9;
  background: url('../_imgs/layout/menu_azul.png') center center no-repeat;
  z-index: 10;
}
body header #frase-topo {
  width: 294px;
  height: 110px;
  position: absolute;
  right: 0;
  top: 42px;
  line-height: 140%;
  font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-shadow: -1px 1px 1px #00aab3;
  filter: dropshadow(color=#00aab3, offx=-1, offy=1);
}
body .main {
  font-size: 0;
}
body .main aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 290px;
  padding-top: 295px;
  padding-bottom: 65px;
}
body .main aside ul#lista-categorias {
  padding: 0 20px 55px 20px;
  background: url('../_imgs/layout/detalhe-categorias.png') left bottom no-repeat;
  list-style: none;
}
body .main aside ul#lista-categorias li a {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  font-weight: normal;
  color: #FFF;
  text-shadow: -1px 1px 1px #996633;
  filter: dropshadow(color=#996633, offx=-1, offy=1);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main aside ul#lista-categorias li a:active,
body .main aside ul#lista-categorias li a:visited {
  color: #FFF;
}
body .main aside ul#lista-categorias li a:hover {
  color: #009fa9;
}
body .main aside ul#lista-anos {
  list-style: none;
  padding: 20px 0 0 20px;
}
body .main aside ul#lista-anos li {
  margin: 2px 0;
}
body .main aside ul#lista-anos li.titulo {
  font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #996633;
}
body .main aside ul#lista-anos li a {
  color: #996633;
  font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main aside ul#lista-anos li a:active,
body .main aside ul#lista-anos li a:visited {
  color: #996633;
}
body .main aside ul#lista-anos li a:hover {
  color: #009fa9;
}
body .main section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 690px;
  padding-bottom: 65px;
}
body .main section h2.sem-resultados {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  text-shadow: -1px 1px 1px #d9c08d;
  filter: dropshadow(color=#d9c08d, offx=-1, offy=1);
}
body footer {
  background-color: #d9c08d;
  padding-top: 15px;
  height: 88px;
  border-top: 1px #996633 solid;
}
body footer ul {
  float: left;
  font-size: 0;
  height: 13px;
}
body footer ul li {
  height: 13px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer ul li a {
  font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #996633;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-right: 1px #996633 solid;
  padding-right: 15px;
}
body footer ul li a:active,
body footer ul li a:visited {
  color: #996633;
}
body footer ul li a:hover {
  color: #009fa9;
}
body footer ul li.link-home a {
  width: 60px;
  margin-right: 15px;
}
body footer ul li.link-perfil a {
  width: 70px;
  margin-right: 15px;
}
body footer ul li.link-servicos a {
  width: 90px;
  margin-right: 15px;
}
body footer ul li.link-contato a {
  width: 90px;
  border-right: 0;
}
body footer .fright {
  float: right;
  width: 500px;
  text-align: right;
}
body footer .fright #telefones {
  width: 125px;
  line-height: 125%;
  font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #996633;
  margin-right: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .fright #assinatura {
  width: 195px;
  font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #996633;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .fright #assinatura a {
  display: block;
  color: #996633;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .fright #assinatura a span {
  border-bottom: 1px #d9c08d dotted;
}
body footer .fright #assinatura a:active,
body footer .fright #assinatura a:visited {
  color: #996633;
}
body footer .fright #assinatura a:hover {
  color: #009fa9;
}
body footer .fright #assinatura a:hover span {
  border-bottom: 1px #009fa9 dotted;
}
