.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
section{margin-top:-50px;}section h1.titulo-pagina{color:#009fa9;text-align:right;line-height:100%;margin-bottom:30px;font-family:'Lobster',cursive;font-size:103px;font-weight:normal;}
section .w-bg{background-color:#fff;padding:5px;}section .w-bg .retorno{font-family:'Lobster',cursive;font-size:25px;font-weight:normal;color:#009fa9;text-align:center;margin-bottom:10px;}
section .w-bg .contato .telefone{width:337px;height:325px;background:url('../_imgs/layout/contato.jpg') center center no-repeat;color:#fff;padding-top:45px;text-align:center;font-family:'Lobster',cursive;font-size:38px;font-weight:normal;margin-right:5px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}
section .w-bg .contato .form{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:266px;padding:36px;height:298px;background-color:#00AAB3;color:#fff;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:normal;font-style:italic;}section .w-bg .contato .form strong{font-size:18px;}
section .w-bg .contato .form form input[type="text"],section .w-bg .contato .form form input[type="email"]{height:20px;width:236px;line-height:20px;padding:2px 15px;margin:0 0 5px 0;border:0;background-color:#98DDE1;color:#00AAB3;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:normal;}section .w-bg .contato .form form input[type="text"]::-webkit-input-placeholder,section .w-bg .contato .form form input[type="email"]::-webkit-input-placeholder{color:#00AAB3;}
section .w-bg .contato .form form input[type="text"]:-moz-placeholder,section .w-bg .contato .form form input[type="email"]:-moz-placeholder{color:#00AAB3;}
section .w-bg .contato .form form input[type="text"]::-moz-placeholder,section .w-bg .contato .form form input[type="email"]::-moz-placeholder{color:#00AAB3;}
section .w-bg .contato .form form input[type="text"]::-ms-input-placeholder,section .w-bg .contato .form form input[type="email"]::-ms-input-placeholder{color:#00AAB3;}
section .w-bg .contato .form form textarea{width:236px;padding:4px 15px;height:112px;border:0;margin:0;background-color:#98DDE1;color:#00AAB3;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:normal;resize:none;overflow:auto;}section .w-bg .contato .form form textarea::-webkit-input-placeholder{color:#00AAB3;}
section .w-bg .contato .form form textarea:-moz-placeholder{color:#00AAB3;}
section .w-bg .contato .form form textarea::-moz-placeholder{color:#00AAB3;}
section .w-bg .contato .form form textarea::-ms-input-placeholder{color:#00AAB3;}
section .w-bg .contato .form form input[type="submit"]{display:block;margin:0;border:0;width:268px;font-style:italic;padding:0 5px;background:#00AAB3;text-align:right;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:bold;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}section .w-bg .contato .form form input[type="submit"]:hover{color:#d9c08d;cursor:pointer;}
section .w-bg .barra{margin-top:5px;background-color:#98DDE1;padding:10px 0 10px 10px;min-height:40px;position:relative;}section .w-bg .barra h2{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:10px;font-weight:normal;line-height:100%;font-style:italic;color:#009fa9;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
section .w-bg .barra h1{font-family:'Lobster',cursive;font-size:24px;font-weight:normal;line-height:100%;font-style:italic;color:#009fa9;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
section .w-bg .barra a{position:absolute;top:0;right:0;width:85px;height:60px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
