@import 'vars.less';

section{
	margin-top:-50px;
	h1.titulo-pagina{
		color:@azul;
		text-align:right;
		line-height:100%;
		margin-bottom:30px;
		.lobster(103px);
	}
	.w-bg{
		background-color:#fff;
		padding:5px;
		.retorno{
			.lobster(25px);
			color:@azul;
			text-align:center;
			margin-bottom:10px;
		}
		.contato{
			.telefone{
				width:337px;
				height:325px;
				background:url('../_imgs/layout/contato.jpg') center center no-repeat;
				color:#fff;
				padding-top:45px;
				text-align:center;
				.lobster(38px);
				margin-right:5px;
				.inline;
			}
			.form{
				.inline;
				width:266px;
				padding:36px;
				height:298px;
				background-color:#00AAB3;
				color:#fff;
				.trebuchet(14px);
				font-style:italic;
				strong{ font-size:18px; }
				form{
					input[type="text"],
					input[type="email"]{
						height:20px;
						width:236px;
						line-height:20px;
						padding:2px 15px;
						margin:0 0 5px 0;
						border:0;
						background-color:#98DDE1;
						color:#00AAB3;
						.arredondada(6px);
						.trebuchet(14px);
						&::-webkit-input-placeholder { color: #00AAB3; }
						&:-moz-placeholder { color : #00AAB3;}
						&::-moz-placeholder { color: #00AAB3; }
						&::-ms-input-placeholder { color:    #00AAB3;}
					}
					textarea{
						width:236px;
						padding:4px 15px;
						height:112px;
						border:0;
						margin:0;
						background-color:#98DDE1;
						color:#00AAB3;
						.arredondada(6px);
						.trebuchet(14px);
						&::-webkit-input-placeholder { color: #00AAB3; }
						&:-moz-placeholder { color : #00AAB3;}
						&::-moz-placeholder { color: #00AAB3; }
						&::-ms-input-placeholder { color:    #00AAB3;}
						resize:none;
						overflow:auto;
					}
					input[type="submit"]{
						display:block;
						margin:0;
						border:0;
						width:268px;
						font-style: italic;
						padding:0 5px;
						background:#00AAB3;
						text-align:right;
						.trebuchet(14px, bold);
						color:#fff;
						.transition;
						&:hover{
							color:@bege;
							cursor:pointer;
						}
					}
				}
			}
		}
		.barra{
			margin-top:5px;
			background-color:#98DDE1;
			padding:10px 0 10px 10px;
			min-height:40px;
			position:relative;
			h2{
				.trebuchet(10px);
				line-height:100%;
				font-style: italic;
				color:@azul;
				.transition;
			}
			h1{
				.lobster(24px);
				line-height:100%;
				font-style: italic;
				color:@azul;
				.transition;
			}
			a{
				position:absolute;
				top:0;
				right:0;
				width:85px;
				height:60px;
				.transition;
				&:active, &:visited{}
				&:hover{}
			}
		}
	}
}