.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
body .main section a.biglink{margin-bottom:40px;}body .main section a.biglink:hover .titulo h1,body .main section a.biglink:hover .titulo h2{color:#009fa9 !important;}
body .main section a.biglink:hover .titulo .data{color:#B99360 !important;}
body .main section a.biglink:hover .no-bg{color:#d9c08d;}
body .main section .biglink{display:block;margin-bottom:5px;font-size:0;}body .main section .biglink .bg{background-color:#fff;padding:5px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main section .biglink .bg #barra-facebook{padding:5px 10px;background-color:#00AAB3;margin-bottom:5px;height:20px;}
body .main section .biglink .bg .img{margin-top:10px;background-color:#E6E6E6;margin-bottom:25px;}body .main section .biglink .bg .img img{display:block;max-width:680px;margin:0 auto 0 auto;}
body .main section .biglink .bg .img .legenda{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:12px;font-weight:normal;font-style:italic;color:#996633;background-color:#fff;padding:4px 14px;}
body .main section .biglink .bg .texto p{padding:5px;margin-bottom:15px;line-height:130%;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#996633;}
body .main section .biglink .bg img.ampliada{display:block;max-width:680px;margin:0 auto 5px auto;}
body .main section .biglink .bg img.thumbs{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:7px;width:130px;height:130px;margin-bottom:5px;}body .main section .biglink .bg img.thumbs.ultima{margin-right:0px;}
body .main section .biglink .bg img.thumbs.primeira{margin-left:1px;}
body .main section .biglink .bg .titulo{min-height:40px;position:relative;background-color:#d9c08d;padding:10px 0 10px 10px;}body .main section .biglink .bg .titulo h2{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:10px;font-weight:normal;line-height:100%;font-style:italic;color:#996633;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
body .main section .biglink .bg .titulo h1{font-family:'Lobster',cursive;font-size:24px;font-weight:normal;line-height:100%;color:#996633;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
body .main section .biglink .bg .titulo .data{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;right:0;top:0;width:44px;height:55px;padding-left:41px;padding-top:5px;text-align:center;color:#fff;background:url('../_imgs/layout/data_post.png') center center no-repeat;}body .main section .biglink .bg .titulo .data span{line-height:110%;font-style:italic;}
body .main section .biglink .bg .titulo .data .dia{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:20px;font-weight:bold;}
body .main section .biglink .bg .titulo .data .mes{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:16px;font-weight:bold;}
body .main section .biglink .bg .titulo .data .ano{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:12px;font-weight:bold;}
body .main section .biglink .no-bg{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;text-align:right;padding-right:36px;background:url('../_imgs/layout/facebook.png') right 3px no-repeat;padding-top:3px;height:30px;line-height:30px;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:12px;font-weight:normal;font-style:italic;color:#fff;}body .main section .biglink .no-bg span{font-size:14px;font-weight:bold;}
body .main section #paginacao{height:36px;}body .main section #paginacao div{height:36px;line-height:36px;}body .main section #paginacao div.prev{float:left;}
body .main section #paginacao div.next{float:right;}
body .main section #paginacao div a{font-family:'Lobster',cursive;font-size:24px;font-weight:normal;color:#d9c08d;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
body .main section #paginacao div a:hover{color:#fff;}
body .main section #comentarios{padding:5px;background-color:#fff;}body .main section #comentarios .titulo{background-color:#98DDE1;padding-left:10px;height:40px;line-height:40px;font-family:'Lobster',cursive;font-size:28px;font-weight:normal;color:#00AAB3;position:relative;}body .main section #comentarios .titulo .contagem{position:absolute;top:0;right:0;width:85px;background:url('../_imgs/layout/comentarios.png') right top no-repeat;text-align:right;padding-right:10px;color:#fff;font-family:'Lobster',cursive;font-size:28px;font-weight:normal;margin-bottom:5px;}
body .main section #comentarios .comentario{margin-top:5px;}body .main section #comentarios .comentario .identificacao{background-color:#98DDE1;padding:8px 10px;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:220px;margin-right:5px;color:#009fa9;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:11px;font-weight:normal;font-style:italic;line-height:130%;}body .main section #comentarios .comentario .identificacao .nome{color:#996633;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:12px;font-weight:bold;line-height:130%;font-style:italic;}
body .main section #comentarios .comentario .texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;background-color:#98DDE1;width:415px;padding:5px 10px;min-height:35px;font-style:italic;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:13px;font-weight:normal;color:#996633;}
body .main section #comentar{margin-top:5px;padding:5px;background-color:#fff;}body .main section #comentar .titulo{color:#996633;padding-left:10px;height:40px;line-height:40px;font-family:'Lobster',cursive;font-size:28px;font-weight:normal;background:url('../_imgs/layout/novo_comentario.png') #d9c08d right top no-repeat;}
body .main section #comentar form{margin-top:5px;}body .main section #comentar form .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:240px;margin-right:5px;}body .main section #comentar form .coluna input[type="text"],body .main section #comentar form .coluna input[type="email"]{border:0;margin:0 0 5px 0;padding:3px 10px;width:220px;height:24px;line-height:21px;background-color:#d9c08d;font-style:italic;color:#996633;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:normal;}body .main section #comentar form .coluna input[type="text"]::-webkit-input-placeholder,body .main section #comentar form .coluna input[type="email"]::-webkit-input-placeholder{color:#996633;}
body .main section #comentar form .coluna input[type="text"]:-moz-placeholder,body .main section #comentar form .coluna input[type="email"]:-moz-placeholder{color:#996633;}
body .main section #comentar form .coluna input[type="text"]::-moz-placeholder,body .main section #comentar form .coluna input[type="email"]::-moz-placeholder{color:#996633;}
body .main section #comentar form .coluna input[type="text"]::-ms-input-placeholder,body .main section #comentar form .coluna input[type="email"]::-ms-input-placeholder{color:#996633;}
body .main section #comentar form .coluna input[type="submit"]{border:0;width:240px;height:30px;line-height:30px;display:block;background:url('../_imgs/layout/botao_enviar-comentario.png') #996633 center top no-repeat;font-style:italic;text-align:right;color:#fff;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main section #comentar form .coluna input[type="submit"]:hover{cursor:pointer;color:#d9c08d;}
body .main section #comentar form .coluna.maior{width:415px;}body .main section #comentar form .coluna.maior textarea{overflow:auto;border:0;padding:5px 10px;width:415px;height:90px;background-color:#d9c08d;color:#996633;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:14px;font-weight:normal;font-style:italic;resize:none;}body .main section #comentar form .coluna.maior textarea::-webkit-input-placeholder{color:#996633;}
body .main section #comentar form .coluna.maior textarea:-moz-placeholder{color:#996633;}
body .main section #comentar form .coluna.maior textarea::-moz-placeholder{color:#996633;}
body .main section #comentar form .coluna.maior textarea::-ms-input-placeholder{color:#996633;}
body .main section #voltar{height:48px;line-height:48px;margin-top:25px;}body .main section #voltar a{color:#d9c08d;font-family:'Lobster',cursive;font-size:26px;font-weight:normal;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main section #voltar a:active,body .main section #voltar a:visited{color:#d9c08d;}
body .main section #voltar a:hover{color:#fff;}
