@import 'vars.less';

body{
	.main{
		section{
			a.biglink{
				margin-bottom:40px;
				&:hover{
					.titulo h1, .titulo h2{ color:@azul !important; }
					.titulo .data{ color:#B99360 !important;}
					.no-bg{ color:@bege; }
				}
			}
			.biglink{
				display:block;
				margin-bottom:5px;
				font-size:0;
				.bg{
					background-color:#fff;
					padding:5px;
					.transition;
					#barra-facebook{
						padding:5px 10px;
						background-color:#00AAB3;
						margin-bottom:5px;
						height:20px;
					}
					.img{
						margin-top:10px;
						background-color:#E6E6E6;
						margin-bottom:25px;
						img{
							display:block;
							max-width:680px;
							margin:0 auto 0 auto;
						}
						.legenda{
							.trebuchet(12px);
							font-style: italic;
							color:@bege_mais_escuro;
							background-color: #fff;
							padding:4px 14px;
						}
					}
					.texto{
						p{
							padding:5px;
							margin-bottom: 15px;
							line-height:130%;
							.trebuchet(14px);
							color:@bege_mais_escuro;
						}
					}
					img{
						&.ampliada{
							display:block;
							max-width:680px;
							margin:0 auto 5px auto;
						}
						&.thumbs{
							.inline;
							margin-right:7px;
							width:130px;
							height:130px;
							margin-bottom:5px;
							&.ultima{margin-right:0px;}
							&.primeira{margin-left:1px;}
						}
					}
					.titulo{
						min-height:40px;
						position:relative;
						background-color:@bege;
						padding:10px 0 10px 10px;
						h2{
							.trebuchet(10px);
							line-height:100%;
							font-style: italic;
							color:@bege_mais_escuro;
							.transition;
						}
						h1{
							.lobster(24px);
							line-height:100%;
							color:@bege_mais_escuro;
							.transition;
						}
						.data{
							.transition;
							position:absolute;
							right:0;
							top:0;
							width:44px;
							height:55px;
							padding-left:41px;
							padding-top:5px;
							text-align:center;
							color:#fff;
							span{ line-height:110%; font-style: italic; }
							.dia{.trebuchet(20px, bold);}
							.mes{.trebuchet(16px, bold);}
							.ano{.trebuchet(12px, bold);}
							background:url('../_imgs/layout/data_post.png') center center no-repeat;
						}
					}
				}
				.no-bg{
					.transition;
					text-align:right;
					padding-right: 36px;
					background:url('../_imgs/layout/facebook.png') right 3px no-repeat;
					padding-top:3px;
					height:30px;
					line-height:30px;
					.trebuchet(12px);
					font-style: italic;
					span{font-size:14px; font-weight: bold;}
					color:#fff;
				}
			}
			#paginacao{
				height: 36px;
				div{
					height: 36px;
					line-height: 36px;
					&.prev{ float:left; }
					&.next{ float:right; }
					a{
						.lobster(24px);
						color:@bege;
						.transition;
						&:active, &:visited{}
						&:hover{ color:#fff; }
					}
				}
			}
			#comentarios{
				padding:5px;
				background-color: #fff;
				.titulo{
					background-color:#98DDE1;
					padding-left:10px;
					height:40px;
					line-height:40px;
					.lobster(28px);
					color:#00AAB3;
					position:relative;
					.contagem{
						position:absolute;
						top:0;
						right:0;
						width:85px;
						background:url('../_imgs/layout/comentarios.png') right top no-repeat;
						text-align:right;
						padding-right:10px;
						color:#fff;
						.lobster(28px);
						margin-bottom:5px;
					}
				}
				.comentario{
					margin-top:5px;
					.identificacao{
						background-color:#98DDE1;
						padding:8px 10px;
						.inline;
						width:220px;
						margin-right:5px;
						color:@azul;
						.trebuchet(11px);
						font-style:italic;
						line-height:130%;
						.nome{
							color:@bege_mais_escuro;
							.trebuchet(12px, bold);
							line-height:130%;
							font-style:italic;
						}
					}
					.texto{
						.inline;
						background-color:#98DDE1;
						width:415px;
						padding:5px 10px;
						min-height:35px;
						font-style:italic;
						.trebuchet(13px);
						color:@bege_mais_escuro;
					}
				}
			}
			#comentar{
				margin-top:5px;
				padding:5px;
				background-color:#fff;
				.titulo{
					color:#996633;
					padding-left:10px;
					height:40px;
					line-height:40px;
					.lobster(28px);
					background:url('../_imgs/layout/novo_comentario.png') #D9C08D right top no-repeat;
				}
				form{
					margin-top:5px;
					.coluna{
						.inline;
						width:240px;						
						margin-right:5px;
						input[type="text"],
						input[type="email"]{
							border:0;
							margin:0 0 5px 0;
							padding:3px 10px;
							width:220px;
							height:24px;
							line-height:21px;
							background-color:@bege;
							font-style:italic;
							color:@bege_mais_escuro;
							.trebuchet(14px);
							&::-webkit-input-placeholder { color: @bege_mais_escuro; }
							&:-moz-placeholder { color : @bege_mais_escuro;}
							&::-moz-placeholder { color: @bege_mais_escuro; }
							&::-ms-input-placeholder { color:    @bege_mais_escuro;}
						}
						input[type="submit"]{
							border:0;
							width:240px;
							height:30px;
							line-height:30px;
							display: block;
							background:url('../_imgs/layout/botao_enviar-comentario.png') #996633 center top no-repeat;
							font-style:italic;
							text-align:right;
							color:#fff;
							.trebuchet(14px, bold);
							.transition;
							&:hover{ cursor:pointer; color:@bege;}
						}
						&.maior{
							width:415px;
							textarea{
								overflow:auto;
								border:0;
								padding:5px 10px;
								width:415px;
								height:90px;
								background-color:@bege;
								color:@bege_mais_escuro;
								.trebuchet(14px);
								font-style:italic;
								resize:none;
								&::-webkit-input-placeholder { color: @bege_mais_escuro; }
								&:-moz-placeholder { color : @bege_mais_escuro;}
								&::-moz-placeholder { color: @bege_mais_escuro; }
								&::-ms-input-placeholder { color:    @bege_mais_escuro;}
							}
						}
					}
				}
			}
			#voltar{
				height:48px;
				line-height:48px;
				margin-top:25px;
				a{
					color:@bege;
					.lobster(26px);
					.transition;
					&:active, &:visited{color:@bege;}
					&:hover{
						color:#fff;
					}
				}
			}
		}
	}
}