@import 'vars.less';

section{
	margin-top:-50px;
	h1.titulo-pagina{
		color:@azul;
		text-align:right;
		line-height:100%;
		margin-bottom:30px;
		.lobster(103px);
	}
	.w-bg{
		background-color:#fff;
		padding:5px;
		font-size:0;
		img.ampliada{
			width:335px;
			height:335px;
			.inline;
			margin-right:5px;
		}
		.texto{
			width:285px;
			min-height:280px;
			padding:35px 20px 20px 35px;
			color:#fff;
			background-color:#00AAB3;
			.trebuchet(18px);
			font-style:italic;
			line-height:150%;
			p{ margin-bottom:15px;}
			.inline;
		}
		.barra{
			margin-top:5px;
			background-color:#98DDE1;
			padding:10px 0 10px 10px;
			min-height:40px;
			position:relative;
			h2{
				.trebuchet(10px);
				line-height:100%;
				font-style: italic;
				color:@azul;
				.transition;
			}
			h1{
				.lobster(24px);
				line-height:100%;
				font-style: italic;
				color:@azul;
				.transition;
			}
			a{
				position:absolute;
				top:0;
				right:0;
				width:85px;
				height:60px;
				.transition;
				&:active, &:visited{}
				&:hover{}
			}
		}
		.fancy{
			margin-top:7px;
			margin-right:7px;
			.inline;
		}
	}
}