.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
section{margin-top:-50px;}section h1.titulo-pagina{color:#009fa9;text-align:right;line-height:100%;margin-bottom:30px;font-family:'Lobster',cursive;font-size:103px;font-weight:normal;}
section .w-bg{background-color:#fff;padding:5px;font-size:0;}section .w-bg .a-bg{padding:5px;background-color:#00AAB3;}section .w-bg .a-bg .texto{width:269px;min-height:300px;padding:35px 30px 20px 35px;color:#fff;font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:18px;font-weight:normal;font-style:italic;line-height:150%;display:inline-block;*display:inline;zoom:1;vertical-align:top;}section .w-bg .a-bg .texto p{margin-bottom:15px;}
section .w-bg .a-bg .imagens{width:336px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}section .w-bg .a-bg .imagens a{margin-left:5px;margin-bottom:5px;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
section .w-bg .barra{margin-top:5px;background-color:#98DDE1;padding:10px 0 10px 10px;min-height:40px;position:relative;}section .w-bg .barra h2{font-family:'Trebuchet MS','Trebuchet','Tahoma',sans-serif;font-size:10px;font-weight:normal;line-height:100%;font-style:italic;color:#009fa9;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
section .w-bg .barra h1{font-family:'Lobster',cursive;font-size:24px;font-weight:normal;line-height:100%;font-style:italic;color:#009fa9;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
section .w-bg .barra a{position:absolute;top:0;right:0;width:85px;height:60px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
