@largura:980px;
@azul:#009FA9;
@azul_ativo:#00AAB3;
@bege:#D9C08D;
@bege_escuro:#A37547;
@bege_mais_escuro:#963;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.centro{ .centralizar; }
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.lobster(@fsize:12px, @fweight:normal){
	font-family: 'Lobster', cursive;
	font-size:@fsize;
	font-weight:@fweight;
}
.trebuchet(@fsize:12px, @fweight:normal){
	font-family: 'Trebuchet MS', 'Trebuchet', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.sombra(@cor){
	text-shadow: -1px 1px 1px @cor;
	filter: dropshadow(color=@cor, offx=-1, offy=1);
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}